<link href="~/css/price.css" rel="stylesheet" />
@* <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css"> *@
<link href="~/price/price.css" rel="stylesheet" />
<main>
    @* <a href="https://wa.me/9042863612">Click here to send a message on WhatsApp</a> *@

<section class="price_plan_area section_padding_130_80" id="pricing">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
             @*  <h6>Pricing Plans</h6> *@
              <h3>Let's find a way together</h3>
              @* <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p> *@
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <!-- Single Price Plan Area-->
          <div class="col-12 col-sm-8 col-md-6 col-lg-3">
            <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="title">
                <h3>E-Commerce License / Free Zone</h3>
                <p>Starting From</p>
                <div class="line"></div>
              </div>
              <div class="price">
                  <h3>AED 5,750 </h3>
              </div>
              <div class="description">
                <p><i class="lni lni-checkmark-circle"></i>	100% Foreign Ownership</p>
                <p><i class="lni lni-checkmark-circle"></i>Free Consultation</p>
                <p><i class="lni lni-checkmark-circle"></i>*T&C Apply</p>
                <p><i class="lni lni-close"></i>No Hidden Fees</p>
              @*   <p><i class="lni lni-close"></i>100+ Video Tuts</p>
                <p><i class="lni lni-close"></i>No Tools</p> *@
              </div>
              <div class="button"><a class="btn btn-success btn-2" href="#">Get Started</a></div>
            </div>
          </div>
          <!-- Single Price Plan Area-->
          <div class="col-12 col-sm-8 col-md-6 col-lg-3">
            <div class="single_price_plan active wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Side Shape-->
              <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
              <div class="title"><span>Popular</span>
                    <h3>Professional License / Project Management</h3>
                 <p>Starting From</p>
                <div class="line"></div>
              </div>
              <div class="price">
                <h3>AED 15,499</h3>
              </div>
              <div class="description">
                <p><i class="lni lni-checkmark-circle"></i>Investor Visa (2 Years)</p>
                <p><i class="lni lni-checkmark-circle"></i>UAE Sponsor</p>
                <p><i class="lni lni-checkmark-circle"></i>Establishment Card</p>
                <p><i class="lni lni-checkmark-circle"></i>Eligible for family sponsorship</p>
                <p><i class="lni lni-checkmark-circle"></i>Free Company Stamp</p>
                <p><i class="lni lni-checkmark-circle"></i>Bank account assistance</p>
                <p><i class="lni lni-checkmark-circle"></i>PRO Services</p>
                <p><i class="lni lni-checkmark-circle"></i>Free Consultation</p>
                <p><i class="lni lni-checkmark-circle"></i>*T&C Apply</p>
                            
                @* <p><i class="lni lni-close"></i>5 Tools</p> *@
              </div>
              <div class="button"><a class="btn btn-warning" href="#">Get Started</a></div>
            </div>
          </div>
          <!-- Single Price Plan Area-->
          <div class="col-12 col-sm-8 col-md-6 col-lg-3">
            <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="title">
                <h3>Commercial License / Dubai Mainland</h3>
                <p>Starting From</p>
                <div class="line"></div>
              </div>
              <div class="price">
                <h3>AED 16,999</h3>
              </div>
              <div class="description">
                <p><i class="lni lni-checkmark-circle"></i>Investor Visa (3 Years)</p>
                <p><i class="lni lni-checkmark-circle"></i>Establishment Card</p>
                <p><i class="lni lni-checkmark-circle"></i>Eligible for family sponsorship</p>
                <p><i class="lni lni-checkmark-circle"></i>Free Company Stamp</p>
                <p><i class="lni lni-checkmark-circle"></i>Bank account assistance</p>
                <p><i class="lni lni-checkmark-circle"></i>PRO Services</p>
                <p><i class="lni lni-checkmark-circle"></i>Free Consultation</p>
                <p><i class="lni lni-checkmark-circle"></i>*T&C Apply</p>
              </div>
              <div class="button"><a class="btn btn-info" href="#">Get Started</a></div>
            </div>
          </div>
          <!-- Single Price Plan Area-->
          <div class="col-12 col-sm-8 col-md-6 col-lg-3">
            <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="title">
                <h3>Professional License / Technical Service</h3>
                <p>Starting From</p>
                <div class="line"></div>
              </div>
              <div class="price">
                <h3>AED 21,749</h3>
              </div>
              <div class="description">
                <p><i class="lni lni-checkmark-circle"></i>Investor Visa (2 Years)</p>
                <p><i class="lni lni-checkmark-circle"></i>UAE Sponsor</p>
                <p><i class="lni lni-checkmark-circle"></i>Virtual office “Ejari”</p>
                <p><i class="lni lni-checkmark-circle"></i>Establishment Card</p>
                <p><i class="lni lni-checkmark-circle"></i>Labour file</p>
                <p><i class="lni lni-checkmark-circle"></i>Free 6 quotas</p>
                <p><i class="lni lni-checkmark-circle"></i>Eligible for family sponsorship</p>                
                <p><i class="lni lni-checkmark-circle"></i>Free Company Stamp</p>
                <p><i class="lni lni-checkmark-circle"></i>Bank account assistance</p>
                <p><i class="lni lni-checkmark-circle"></i>PRO Services & Free Consultation</p>
                <p><i class="lni lni-checkmark-circle"></i>*T&C Apply</p>
              </div>
              <div class="button"><a class="btn btn-info" href="#">Get Started</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>