    <!-- coaching single start -->
<section class="coaching-single pt-120 pb-130">
    <div class="container">
        <div class="row">
   
            <div class="col-lg-12">
                <div class="single-content">
                    @* <h3>Residence visa</h3>
                    <h4>The United Kingdom Offers Effortless Business Setup in the Country</h4> *@
                    <p>Our In-Depth Knowledge and Understanding with Government Entities Gives Us A Competitive Edge Over Others & attached our company profile for your perusal.</p>
                    <p>Our expert team have all the expertise needed to submit your documents. Making every step and process faster and cost-effective.</p>
                   

                    <h3 class="mt-70">Public Relations Officer (PRO), </h3>
                    <p>We handle all your documentation and clearing services, legal procedures required by the Department of Economic Development (DED, SEDD, Abu Dhabi)  helping with license renewals, visas, labor contracts, and helping with requirements from the immigration department. PRO will ensure that you don’t just have a successful startup for your business, but that things continue to run smoothly throughout the life of your business.</p>
                    <div class="row align-items-center mt-10">
                        <div class="col-lg-6 mt-30">
                            @* <img src="assets/img/visa/img_02.jpg" alt=""> *@
                            <ul class="single-content-list list-unstyled pl-25">
                            <li><img src="~/assets/img/icon/star.svg" alt="">Company And Branch Formation</li>
                            <li><img src="~/assets/img/icon/star.svg" alt="">Employment Visa, Resident & Family Visa Services, Visa Cancellation</li>
                            <li><img src="~/assets/img/icon/star.svg" alt="">Investors Visa & Local Sponsorship, Labor And Immigration Cards</li>
                            <li><img src="~/assets/img/icon/star.svg" alt="">Emirate ID Typing</li>
                            <li><img src="~/assets/img/icon/star.svg" alt="">Medical Typing</li>
                            <li><img src="~/assets/img/icon/star.svg" alt="">Tenancy & Ejari Registration</li>
                            <li><img src="~/assets/img/icon/star.svg" alt="">Approval And Renewal Of Trade License</li>
                            <li><img src="~/assets/img/icon/star.svg" alt="">Regulatory Approvals And NOC Letters</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 mt-30">
                            <ul class="single-content-list list-unstyled pl-25">
                               
                                <li><img src="~/assets/img/icon/star.svg" alt="">Notarization Of Legal Documents</li>
                                <li><img src="~/assets/img/icon/star.svg" alt="">Annual License Renewals And Updates</li>
                                <li><img src="~/assets/img/icon/star.svg" alt="">Municipality Services</li>
                                <li><img src="~/assets/img/icon/star.svg" alt="">Establishment New Card & Renewal</li>
                                <li><img src="~/assets/img/icon/star.svg" alt="">P O Box Registration New & Renewals</li>
                                <li><img src="~/assets/img/icon/star.svg" alt="">Driving License Assistance</li>
                                <li><img src="~/assets/img/icon/star.svg" alt="">Power Of Attorney Attestation Assistance</li>
                                <li><img src="~/assets/img/icon/star.svg" alt="">Any Certificate Document Attestation (Degree, MOFA, Marriage, Birth, Death) Etc</li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- coaching single end -->